<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="description" content="仿CNode：Node.js专业中文社区">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="keywords" content="nodejs, node, express"/>
    <meta name="author" content="171721553@qq.com" />
    <title>仿CNode</title>
    <meta content="_csrf" name="csrf-param">
    <!-- <link rel="stylesheet" href="../stylesheets/index3.css"> -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css">
</head>
<body>
    <div id="root"></div>
    <script type="text/javascript" src="../js/dist/app.bundle.js"></script>
</body>
</html>
